@charset "UTF-8";
#wrap {
	width: 1200px;
	margin: 0 auto;
		
}
#header {
	
	clear: both;
	float: left;
	height: 145px;
	width: 1200px;
	
}
#head {

	clear: both;
	float: left;
	height: 145px;
	width: 1200px;
	
	
}
#body {	
	clear: both;
	float: left;
	width: 1200px;
}
#foot {
	clear: both;
	float: left;
	height: 300px;
	width: 1200px;
}