#purchase_complete_wrap {
	float: left;
	height: 500px;
	width: 550px;
	margin-top: 90px;
	margin-left: 360px;
	font-family: "나눔바른고딕", "나눔고딕";
	font-size: 30px;
	text-align: center;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
           border: solid #f6c420 3px;
}
#purchase_complete_main{
	float: left;
	width: 550px;
	height: 200px;
	margin-top: 120px;
		
}
#font_color{
	color: #f6c420;
	font-weight: bold;
}
#purchase_complete_button{
	float: left;
	width: 270px;
	height: 40px;
	margin-top: 30px;
	margin-left: 140px;
	
		
}