@charset "utf-8";
#error_page {
	margin:auto;
	height: 800px;
	width: 1200px;
}
#error404 {
	float: left;
	height: 500px;
	width: 1200px;
	margin-top: 80px;
}
#error404_img {
	float: left;
	height: 500px;
	width: 500px;
	margin-left: 350px;
}
#main_btn {
	float: left;
	height: 40px;
	width: 1200px;
	margin-top: 30px;
}
#main_btn_img {
	float: left;
	height: 40px;
	width: 100px;
	margin-left: 550px;
}
